.first{
    border: none;
    background-color: red;
    color: white;
    width:100%;
    height:30px;
}
.first a{
    color: black;
}
.main{
    border: 1px solid red;
    height: 50px;
}
.roomimg {
    float:left;
}
.room{
    height:230px;
    background: #aaa;
}
.room h5{
    color:blue;
    text-transform: uppercase;
}
h6{
    color: orangered;
    line-height: 0.7;
}
.room .btn{
    background-color: white;
    line-height: 1.0;
    color: red;
}
.guest h4{
    text-align: center;
    margin-top: 10px;
}
.hall h4{
    text-align: center;
    margin-top: 20px;
}
.hall h5{
    color: blue;
}
.hall .btn{
    color: white;
    background-color: red;
    width: 150px;
    text-transform: uppercase;
}
.delights h4{
    text-align: center;
    margin-top: 20px;
}
h5{
    color: blue;
    text-transform: uppercase;
}
ul li a{
    color: black;
    text-align: center;
}
ul li a:hover{
    color: black;
    background-color: red;
}
.nav li a:hover{
    color:black;
    background-color: white;
}
.formvalue{
    border: 1px solid #ED4337;
    margin-top: -45px;
    background-color:white;
    opacity: 0.8;
    border-radius: 4px;
    height: 75px;
    font-weight: bold;
}
.formvalue .btn{
    height: 35px;
    border: 1px solid #a2c8f0;
    border-radius: 4px;
    color: white;
    background-color: red;
    resize: vertical
}
input[type=email]{
    width: 200px;
    height: 35px;
    border: 1px solid #a2c8f0;
    border-radius: 4px;
    background-color: #bbdcff;
    resize: vertical;
 }
 input[type=text]{
    width: 100px;
    height:35px;
    background-color: #bbdcff;
    border: 1px solid #a2c8f0;
    border-radius: 4px;
    resize: vertical;
 }
select{
    width: 100px;
    height:35px;
    background-color: #bbdcff;
    border: 1px solid #a2c8f0;
    border-radius: 4px;
    resize: vertical;
}

@media screen (max-width:1180px){
    .first{
        width:100%;
        padding-left:5px;
    }
}