@media(max-width:1026px){
  .navbar{
    display: block;
    width: 100%;
  }
  .head_second{
    margin-top: -20px;
  }
    .video{
      padding-top: 30px;
      text-align: center;
     }

     .bestservice h1{
      color: red;
      margin-top: -25px;
     }

     .btn1{
      background-color: red;
      width: 130px;
      height: 40px;
      margin-left: -200px;
      margin-top: 300px;  
      float: left; 
     }

     .btn2{
      background-color: red;
      width: 130px;
      height: 40px;
      margin-left: 250px;
      margin-top: 18px;  
     }

   .service-thumbnail1{
      
       float: left;
       margin-left: 100px;
       padding-top: 20px;
   }

   .back .service-thumbnail1:hover{
     border: 4px solid red;
    padding-right: 1px;
    padding-left: 0px;
 }

    .service-thumbnail2{
      float: right; 
      margin-right: 100px;
      padding-top: 20px;
  }

  .back2 .service-thumbnail2:hover{
    margin-top: 20px;
    border: 4px solid red;
    padding-top: 20px;
 }
 .work{
   margin-top: -280px;
 }
 
 #viewA{
   margin-top: 30px;
   text-align: center;
 }
 .myshop{
   width: 300px;
 }
 .service-thumbnail{
   margin-left: 350px; 
 }
 #viewA{
   margin-left: 370px;
 }
 .carousel-inner{
   margin-top: -300px;
 }

 .review{
   width: 500px;
 }
 .image{
   padding: -50px;
   height: 500px;
   margin-bottom: 50px;
   margin-top: -150px;
 }
 .map{
   margin-top: 20px;
 }
 .login-box{
   width: 300px;
   margin-right: 10px;
 }
.owner img{
  margin-left: 300px;
  margin-top: -650px;
}
.owner #name{
  margin-left: 300px;
  margin-top: -100px;
}
 .footer{
   height: 700px;
 }
 .A{
   text-align: center;
 }
 .insta{
   text-align: center;
 }
}

@media(max-width:972px){
  .image img{
    width: 200px;
  }
  .owner img{
    margin-right: -450px;
  }
  .owner #name{
    margin-left: 300px;
    margin-top: -100px;
  }
  .footer{
    height: 730px;
  }
}

@media(max-width:360px){
body
{overflow-x: hidden;
margin-left: 0px; 
}

.head_first{
  padding-left: 20px;
  width: 50%;
  font-size: 5px;
}
.head_second{
  font-size: 15px;
  margin-top: -25px;
  margin-left: 80px;
}
.head_second i{
  display: none;
}
.fab{
  display: none;
}
.navbar {
  font-size: 15px;
  width: 100%;
}
.about b{
  padding-left: 50px;
  width: 100%;
}
.w3-content .mySlides{
  width: 100%;
  height: 200px;
}
.about p{
  width: 120%;
  font-size: 15px;
  text-align: justify; 

}
.video iframe{
  width: 250px;
  height: 200px;
  margin-left: 60px;
  margin-top: -20px;
}
.service-text b{
  font-size: 15px;
  width: 100%;
}
.service-text{
  width: 700px;
  height: 40px;
  margin-top: -1000px;
}
.bestservice p{
  font-size: 15px;
  width: 100%;
  text-align: justify;
}
.back{
  width: 100%;
  height: 550px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.back .service-thumbnail1{
  width: 250px;
  height: 200px;
  margin-left: 10px;
  margin-top: 15pxpx;
  padding-bottom: 20px;
}

.back2 .service-thumbnail1{
  width: 250px;
  height: 200px;
  margin-left: 10px;
  margin-top: -300px;
  margin-bottom: -100px;
}
.btn1{
  text-align: center;
  width: 10px;
  margin-right: 100px;
  margin-left: 30px;
  margin-bottom: 100px;
}
.btn1 p{
  font-size: 20px;
}
.btn2{
  text-align: center;
  width: 10px;
  margin-right: 100px;
  margin-left: 30px;
  margin-bottom: 100px;
  margin-top: -10px;
}
.btn2 p{
  font-size: 20px;
}
.work{
  margin-top: -500px;
}
.work-text b{
  font-size: 15px;
  width: 100px;
  padding: 5px;
  text-align: center;
}
.work-text{
  width: 800px;
  height: 50px;
}
.gallery{
  width: 50%;
  text-align: center;
  margin-left: 110px;
}
.design{
  display: none;
  width: 500px;
  height: 100px;
  padding: 5px;
  margin-left: -80px;
  margin-top: -20px;
}
.design .design-text b{
  line-height: 2px;
  font-size: 20px;
}
.myshop img.service-thumbnail{
  margin-left: -300px;
}
.item{
  margin-left: -100px;
  width: 100px;
}
  .myshop1-text {
  margin-left: -100px;
}
.myshop1{
  width: 550px;
  margin-right: 0px;
  margin-left: 5px;
}
.myshop1{
  margin-left: -95px;
}
.myshop1-text b{
  font-size: 20px;
}
.myshop img.service-thumbnail {
  width: 200px;
  height: 200px;
  margin-left: -300px;
}
.button{
font-size: 20px;
width: 150px;
margin-left: -200px;
margin-bottom: -100px;
}
#viewA{
font-size: 20px;
width: 150px;
margin-left: 60px; 
}
.carousel-inner{
 height: 700px;;
}
.item{
  width: 100%;
}
.review {
 width: 100%;
}
.owl-carousel, .owl-carousel.owl-loaded{
  display: none;
}
.carousel-inner .review p{
 width: 330px;
 margin-left: 10px;
}
.review i{
  margin-left: 10px;
}
 .image img{
  width: 150px;
  height: 100px;
  margin-top: 190px;
  margin-left: 50px;
}
.map iframe{
  margin-left: 80px;
  margin-right: -20px;
  width: 300px;
  height: 300px;
  margin-top: -40px;
}

.login-box {
  width: 300px;
  padding: 10px;
  margin-left: -190px;
}
.owner{
  display: none;
}
.image img{
  margin-left: 50px;
}
.container-fluid{
  margin-right: 0px;
  margin-left: -70px;
}
.footer{
  margin-top: -20px;
  width: 300px;
  margin-left: 80px;
  max-height: 600px;
}
.insta{
  margin-top: -10px;
  width: 297px;
  margin-left: -15px;
  background-color: rgb(90, 5, 5);
}
.insta img{
  height: 80px;
  width: 80px;
}

.footer .form{
  width: 200px;
  margin-left: 10px;
}

}

  @media(max-width:600px){
    .head_first{
      color: rgb(248, 246, 246);
      font-size: 17px;
   }

   .head_second{
     font-size: 17px;
     color: rgb(238, 234, 234);
   }

   .icon{
    color: black;
     font-size: 17px;
      padding-top: 1px;
}

  .video{
   padding-top: 30px;
   text-align: center;
  }

  .bestservice h1{
    color: red;
    text-align: center;
    margin-top: -35px;
   }

   .btn1{
    background-color: red;
    width: 130px;
    height: 40px;
    margin-left: 80px;
    margin-top: -18px;   
   }

   .btn2{
    background-color: red;
    width: 130px;
    height: 40px;
    margin-left: 80px;
    margin-top: -18px;  
}

   .bestservice p{
     padding: 20px;
   }

 .service-thumbnail1{
     width: 150px; 
     height:150px;
     margin-bottom: 15px;  
 }

 .back .service-thumbnail1:hover{
   border: 4px solid red;
  width: 150px;
  height: 150px;
  padding-right: 1px;
  padding-left: 0px;
}

  .service-thumbnail2{
    width: 150px; 
    height:150px; 
    margin-top: 20px; 
}

.back2 .service-thumbnail2:hover{
  margin-top: 10px;
  border: 4px solid red;
  width: 150px;
  height: 150px;
  padding-right: -10px;
}

   .work{
     margin-top: -300px;
   }

   .work-text b{
   font-size: 16px;
   }

   .design-text b{
     font-size: 25px;
   }

   .owl-carousel{
     width: 400px;
     padding: 50px;
     margin-left: 90px;
   }

   .myshop1{
     margin-top: -30px;
     padding-top: 60px;
     padding-bottom: 20px;
   }
   
   #viewA{
     margin-top: 30px;
   }

   .containerTestimonial{
     margin-top: -250px;
   }

   .review{
    float: left;
    margin-top: 100px;
    width: 200px;  
    height: 50px;   
  }
  
  .review i{
    margin-left: -40px;
  }

  .review p{
    color: white;
    width: 200px;
    font-size: 15px;
    margin-left: -150px;
  }

  .image{
    padding-left: 20px;
    margin-top:-180px;
    width: 50px;
    
  }

  .image-container{
    height: 250px;
    width: 900px;
    padding-left: 50px;
  }

   .login-box{
     width: 300px;
     padding: 10px;
     float: left;
     margin-left: -80px;
   }

   .owner {
    width: 300px;
    margin-top: 80px;
    margin-left: -60px;
   
  }

   .footer{
   height: 750px;
   }

   .form{
     margin-left: 100px;
   }
  }
 