body
{overflow-x: hidden;

    background-color: black;}


 .header{
    background-color: #ff0000;
    height: 30px;
}

 .col-sm-3{
    font-size: 18px;
}

.head_first{
   color: white;
   font-size: 18px;
}

.head_second{
    color: white;
    font-size: 18px;

}
.icon{
    color: black;
     font-size: 20px;
      padding-top: 1px;
      
}

.icon .fab .social{
    padding-top: 3px;
    height: 30px;
    width: 30px;
    color: white;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    background-color: black;
  
    
}

.navbar{
    background-color:white;
    z-index: 1000px;
     
}

.navbar a {
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:hover {
    background-color:red;
  }

  .w3-content{
    max-width:100%;
  }

  .mySlides {
    width:100%; height: 500px;
    display:none;}

  .about{
      font-style: Bold;
      margin-top: 40px;
  }

  .about p{
      font-size: 18px;
      color: white;
      text-align: justify;
  }

  .about h2{
      color: rgb(230, 7, 7);
  }

  .video iframe{
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 50px;
    width: 500px;
    height: 350px;
    }

    .service{
        text-align: center;
        color: solid black;
        padding-top: 30px;
        padding-bottom: 20px;
    }

      .service hr{
        height: 0;
        border-top: 2px solid red;
      }
  
      .service .service-text{
        width: 25%;
        text-align: center;
        margin: -45px auto 0 auto;
        background: red;
        font-size: 30px;
        color: black;
       margin-bottom: -20px;
       padding-bottom: 10px;
      }

      .bestservice h1{
       color: red;
       margin-top: 40px;

      }

      .bestservice p{
        color: white;
        font-size: 20px;
        text-align: justify;
       }

    .back .service-thumbnail1:hover{
       border: 7px solid red;
        width: 300px; 
        height:300px;
        margin-top: -25px;
        padding-right: 0px;
    }

    .service-thumbnail1{
        width: 280px; 
        height:280px;
       
    }

    .back2 .service-thumbnail2:hover{
        border: 7px solid red;
         width: 300px; 
         height:300px;
         margin-top: -25px;
     }
 
     .service-thumbnail2{
         width: 280px; 
         height:280px;  
     }

     .btn1{
         background-color: red;
         width: 200px;
         height: 40px;
         margin-left: 40px;
         margin-top: -18px;
         
     }

     .btn1 p{
         font-size: 30px;
         text-align: center;
         color: black;
         margin: -5px;
     }
    
     .btn2{
        background-color: red;
        width: 200px;
        height: 40px;
        margin-left: 40px;
        margin-top: -18px;
    }

    .btn2 p{
        font-size: 30px;
        text-align: center;
        color: black;
        margin: -5px;
    }
   
    .work{
      padding: 15px;
      margin: 0;
    }

    .work hr{
      height: 0;
      border-top: 2px solid red;
    }

    .work .work-text{
      width: 25%;
      text-align: center;
      margin: -50px auto 0 auto;
      background: red;
      font-size: 25px;
      color: black;
     margin-bottom: -20px;
     padding-top: 10px;
     padding-bottom: 10px;
    }

    .row {
      margin: 40px 200px 20px 200px;
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
      
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 0 10px;
    }
    
    .column img {
      margin: 10px;
      vertical-align: middle;
      width: 100%;
      border-radius: 5px;
      transition: transform .8s ease-in-out;
    }
    .column img:hover{
      transform: scale(1.2);
      border-radius: 5px;
    }

    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }

    @media screen and (max-width: 360px) {
      .column {
        -ms-flex: 100%;
        flex: 50%;
        max-width: 50%;
      }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 50%;
        flex: 100%;
        max-width: 100%;
        max-height: 50%;
      }}

    .view{
        background-color: red;
        width: 150px;
        height: 40px;
        margin-left: 40px;
        margin-top: -18px;
        margin: 30px 0px 0px 500px;
    }

    .view p{
        font-size: 30px;
        position: relative;
        color: black;
    }

    .design{
        text-align: center;
        color: solid black;
        padding-top: 40px;
    }

      .design hr{
        height: 0;
        border-top: 2px solid red;
      }
  
      .design .design-text{
        width: 25%;
        text-align: center;
        margin: -45px auto 0 auto;
        background: red;
        font-size: 30px;
        color: black;
       margin-bottom: -20px;
       padding-top: 3px;
      }

    .owl-theme{
        padding-top: 70px;
    }
    .owl-carousel .item img{
      height: 375.5px;
    }

    .viewS{
        background-color: red;
        width: 150px;
        height: 40px;
        margin-left: 40px;
        margin-top: -18px;
        margin: 30px 0px 0px 600px;
    }

    .viewS p{
        font-size: 30px;
        position: relative;
        color: black;
    }
    .myshop .service-thumbnail{
        border: 10px solid red;
         width: 300px; 
         height:300px;
       margin-top: 40px;
       margin-left: -30px;
     }
 
     .service-thumbnail1{
         width: 280px; 
         height:280px;
        }

        .button {
            border-radius: 6px;
            background-color: red;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 20px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px 0px auto 20px;;
           
          }
          
          .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
          
          .button:hover span {
            padding-right: 25px;
          }
          
          .button:hover span:after {
            opacity: 1;
            right: 0;
          }

          .myshop1{
            text-align: center;
            color: solid black;
            padding: 30px 0px 10px 0px;
           
        }
    
          .myshop1 hr{
            height: 0;
            border-top: 2px solid red;
          }
      
          .myshop1 .myshop1-text{
            width: 25%;
            text-align: center;
            margin: -45px auto 0 auto;
            background: red;
            font-size: 30px;
            color: black;
           margin-bottom: -20px;
           padding-bottom: 10px;
          }

          #viewA{
            margin: 200px 0px 200px 0px;
            border-radius: 10px;
          }

          .review{
            margin: 130px 0px 100px 0px;
            width: 50%;     
          }

          .review i{
            color: darkred;
            font-size: 15px;
          }

          .review p{
            color: white;
            font-size: 20px;
            margin-right: -120px;
          }

          .image{
            padding-top: 50px;
             padding-left: 150px;
          }

          .image-container{
             height: 350px;
             width: 300px;
             overflow: hidden;
          }

          .login-box{
            margin-left: -150px;
            margin-top: -30px;
            width: 500px;
            height: 300px;
            margin-bottom: 80px;
          }

          .login-box h1{
            color: red;
           font-size:40px;
          border-bottom:4px solid #edf1ed;
          text-align: center;
          padding-bottom: 10px;
          }

          .login-box .textbox{
            padding: 10px;
            width:100%;
            overflow:hidden;
            font-size:20px;
            border-bottom:1px solid #f5f0ef;
          }

          .textbox i{
            float:left;
          }

          .textbox input{
            border:none;
            outline:none;
            background:none;
            color:white;
            font-size:18px;
            width:80%;
            float:left;
            margin:0 10px;
          }

          .btn{
            width: 100%;
            border:2px solid #fa2003;
            color: rgb(15, 12, 12);
            padding:5px;
            font-size:18px;
            margin: 12 px 0;
          }

         .footer{
           height: 400px; 
           width: 100%;
           background-color: rgb(90, 5, 5);
         }  

          .owner{
            padding-top: 60px;
          }
          .owner img{
            width: 300px;
            margin-right: -50px;
            margin-top: -50px;
          }

          .owner p{
            color: #FFFFFF;
            font-size: 20px;
            border-bottom: 2px solid red;
            width: 200px;
          }
          .woner #name{
            margin-right: -500px;
          }

          .about{
           color: white;
           font-family: Arial, Helvetica;
           font-size: 25px;
           padding: 5px;
           border-bottom: 3px solid black;
           text-align: center;
          }

          .p{
            color: gray;
            font-size: 15px;
          }

          .form{
            margin-top: 40px;  
            padding-top: 15px;
             width: 300px;
          }
          .insta img{
            width: 100px;
            height: 100px;
          }

          .fab{
            font-size: 20px;
            color: red;
          }
          
         
          